@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
    font-family:  "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #3473b2;
    --green-color: #34b268;
    --text-color: #1a2428;
    --bg-color: #fff;
}

.site-header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
}

img {
    width: 110px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    margin-top: 5px;
}

.navbar {
    display: flex;
    column-gap: .5rem;
}

.navbar a:hover{
    background-color: var(--color-primary);
    border-radius: 8px;
    color: var(--bg-color);
    transition: background .5s;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

#menu-icon {
    display: none;
    cursor: pointer;
    z-index: 10001;
    font-size: 24px;
}

.hero {
    background-color: var(--color-primary);
    padding: 120px 20px 60px;
    text-align: center;
    color: var(--bg-color);
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 40px auto;
    font-weight: 300;
}

.hero .btn-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 14px 28px;
    border-radius: 8px;
    background-color: var(--green-color);
    color: var(--bg-color);
    transition: .2s ease;
}

.hero .btn-whatsapp:hover {
    opacity: .85;
}

.hero .bx {
    font-size: 24px;
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .site-header {
        padding: 12px 10px;
    }
    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: .2 all linear;
        text-align: left;
    }
    .navbar a {
        padding: 1rem;
        margin: 1rem;
        display: block;
    }
    .navbar.active {
        top: 100%;
    }

    .hero h1 {
        font-size: 28px;
    }
    .hero .btn-whatsapp {
        font-size: 16px;
        padding: 12px 22px;
    }
}

/* Section */
.section-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 16px;            
    margin: 0 auto;
}

.productos {
    background-color: #f9f8f6;
}

.servicios {
    background-color: #eeece8;
}

.section-title {
    font-size: 2rem;
    color: #0066cc;
    margin-bottom: 8px;
    text-align: center;
}
.section-text {
    color: #666;
    font-size: 16px;
    text-align: center;
    margin-bottom: 32px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card{
    background-color: var(--bg-color);
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
}

.card-img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    border-radius: .5rem;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: .5rem;
}
.producto-button {
    width: 100%;
    padding: 10px;
    background: var(--green-color);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.producto-button:hover {
    opacity: .85;
}


/* Footer */
.site-footer {
    background-color: var(--color-primary);
    color: var(--bg-color);
    padding: 32px 16px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 2rem;
}

.footer-text {
    font-size: .9rem;
    opacity: 0.8;
}

.footer-text p {
    margin-bottom: 8px;
}
